body{

    background-image: url(./Imagenes/fondo.jpg);
}
.header{
    background-color: $color-principal;
    display: flex;
    justify-content:space-around
    }
.logo{
    width:100px;
    padding:5px;
}
.div li:nth-child(5){
    background-color:crimson;
    opacity: 80%;
}
.nav-link{
    font-size: 24px;
}