$color-principal: blueviolet;

/* Extend */

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox ($direction, $justify, $align){
    display: flex;
    direction:$direction;
    justify-content: $justify;
    align-items: $align;
}